<a href="https://colab.research.google.com/github/leopoldofalcon1/PythonChoice/blob/main/Pobreza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_html("https://en.wikipedia.com/wiki/Poverty")
df[1]

                            Region $1 per day               $1.25 per day[94]  \
                            Region       1990   2002   2004              1981
0            East Asia and Pacific      15.4%  12.3%   9.1%             77.2%
1          Europe and Central Asia       3.6%   1.3%   1.0%              1.9%
2  Latin America and the Caribbean       9.6%   9.1%   8.6%             11.9%
3     Middle East and North Africa       2.1%   1.7%   1.5%              9.6%
4                       South Asia      35.0%  33.4%  30.8%             61.1%
5               Sub-Saharan Africa      46.1%  42.6%  41.1%             51.5%
6                            World          —      —      —             52.2%

         $1.90 per day[95]
    2008              1981   1990   2000   2010   2015   2018
0  14.3%             80.2%  60.9%  34.8%  10.8%   2.1%   1.2%
1   0.5%                 —      —   7.3%   2.4%   1.5%   1.1%
2   6.5%             13.7%  15.5%  12.7%     6%   3.7%   3.7%
3   2.7%                 —   6.5%   3.5%     2%   4.3%     7%
4    36%               58%  49.1%      —    26%      —      —
5  47.5%                 —  54.9%  58.4%  46.6%  42.3%  40.4%
6  22.4%             42.7%  36.2%  27.8%    16%  10.1%      —